<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:utext="${message}">..!..</h2>

<form th:action="@{/sender}" th:object="${userMail}" method="post">
    <fieldset>
        <div >
            <div >
                <div >
                    <label for="emailLabel" >Введите email</label>
                    <input  type="text" th:field="*{sap}"  id="emailLabel" placeholder="Введите email"/>
                </div>
            </div>
            <div >
                <div ><br/>
                    <button type="submit" >
                        <span role="status" aria-hidden="true" ></span>&nbsp; Найти&nbsp;&nbsp;
                    </button>

                </div>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>